In [76]:
#! pip install xlrd >= 2.0.1 --q
#! pip install mysql-connector-python --q

In [77]:
import requests
import pandas as pd 
import json 
import mysql.connector

In [84]:
list_cities=pd.read_excel('list_of_cities_and_towns_in_india-834j.xls',sheet_name=0)
list_cities.columns=['Name_of_City','State','Cit_Type','Population_2011','Population_class']
list_cities['Name_of_City']=list_cities['Name_of_City'].astype(str)
list_cities['State']=list_cities['State'].astype(str)
list_cities['Cit_Type']=list_cities['Cit_Type'].astype(str)
list_cities['Population_2011']=list_cities['Population_2011'].astype(str)
list_cities['Population_class']=list_cities['Population_class'].astype(str)
list_cities['Prim_Key'] = ['CIT' + str(i) for i in range(1, len(list_cities['Name_of_City']) + 1)]
list_cities=list_cities.fillna("")

In [79]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'SARKAR@12345',
    'database': 'pg_project'
}

In [80]:
# Establish a connection to the MySQL server
connection = mysql.connector.connect(**db_config)

# Create a cursor object to interact with the database
cursor = connection.cursor()

In [81]:
# Check if the table exists and drop it if it does
check_table_query = f"DROP TABLE IF EXISTS citi_master"
cursor.execute(check_table_query)

In [82]:
# Define the SQL statement to create a new table
create_table_query = '''
CREATE TABLE citi_master (
    Prim_Key VARCHAR(50) PRIMARY KEY,
    Name_of_City VARCHAR(50),
    State  VARCHAR(100),
    Cit_Type   VARCHAR(100),
    Population_2011   VARCHAR(100),
    Population_class  VARCHAR(100)
);
'''
cursor.execute(create_table_query)

In [89]:
list_cities=list_cities[["Prim_Key","Name_of_City","State","Cit_Type","Population_2011","Population_class"]]

In [91]:
# Convert the DataFrame to a list of tuples
list_cities1 = [tuple(row) for row in list_cities.to_numpy()]

# Define the SQL statement to insert data
insert_query = f'INSERT INTO citi_master (Prim_Key,Name_of_City,State,Cit_Type,Population_2011,Population_class) VALUES (%s, %s, %s, %s, %s)'

# Execute the SQL statement to insert data
cursor.executemany(insert_query, list_cities1)
print(f"Data inserted into citi_master.")

# Commit the changes
connection.commit()

InterfaceError: Failed executing the operation; Not all parameters were used in the SQL statement

In [7]:
api_key = "16bf3a5e874140bcc33de0d8ca72ef0de8964b4a"
city_name = "india"
url = f"https://api.waqi.info/feed/{city_name}/?token={api_key}"

In [8]:


response = requests.get(url)
json_data= response.json()
json_data
print(json_data)

{'status': 'ok', 'data': {'aqi': 151, 'idx': 12450, 'attributions': [{'url': 'http://cpcb.nic.in/', 'name': 'CPCB - India Central Pollution Control Board', 'logo': 'India-CPCB.png'}, {'url': 'https://waqi.info/', 'name': 'World Air Quality Index Project'}], 'city': {'geo': [22.629801, 88.352017], 'name': 'Belur Math, Howrah, India', 'url': 'https://aqicn.org/city/india/howrah/belur-math', 'location': ''}, 'dominentpol': 'pm25', 'iaqi': {'co': {'v': 5.5}, 'dew': {'v': 23}, 'h': {'v': 98.5875}, 'no2': {'v': 5.5}, 'o3': {'v': 7.7}, 'p': {'v': 1010}, 'pm10': {'v': 88}, 'pm25': {'v': 151}, 'so2': {'v': 2.7}, 't': {'v': 29}, 'w': {'v': 0.15250000000000002}}, 'time': {'s': '2023-10-15 21:00:00', 'tz': '+05:30', 'v': 1697403600, 'iso': '2023-10-15T21:00:00+05:30'}, 'forecast': {'daily': {'o3': [{'avg': 13, 'day': '2023-10-13', 'max': 73, 'min': 1}, {'avg': 10, 'day': '2023-10-14', 'max': 45, 'min': 1}, {'avg': 10, 'day': '2023-10-15', 'max': 52, 'min': 1}, {'avg': 11, 'day': '2023-10-16', 'max': 59, 'min': 1}, {'avg': 13, 'day': '2023-10-17', 'max': 66, 'min': 1}, {'avg': 9, 'day': '2023-10-18', 'max': 57, 'min': 1}, {'avg': 11, 'day': '2023-10-19', 'max': 52, 'min': 1}, {'avg': 1, 'day': '2023-10-20', 'max': 1, 'min': 1}], 'pm10': [{'avg': 123, 'day': '2023-10-13', 'max': 123, 'min': 123}, {'avg': 123, 'day': '2023-10-14', 'max': 123, 'min': 123}, {'avg': 106, 'day': '2023-10-15', 'max': 123, 'min': 73}, {'avg': 119, 'day': '2023-10-16', 'max': 123, 'min': 73}, {'avg': 123, 'day': '2023-10-17', 'max': 123, 'min': 123}, {'avg': 123, 'day': '2023-10-18', 'max': 123, 'min': 123}, {'avg': 123, 'day': '2023-10-19', 'max': 123, 'min': 123}, {'avg': 106, 'day': '2023-10-20', 'max': 123, 'min': 73}, {'avg': 123, 'day': '2023-10-21', 'max': 123, 'min': 73}], 'pm25': [{'avg': 214, 'day': '2023-10-13', 'max': 238, 'min': 174}, {'avg': 219, 'day': '2023-10-14', 'max': 252, 'min': 174}, {'avg': 202, 'day': '2023-10-15', 'max': 238, 'min': 159}, {'avg': 202, 'day': '2023-10-16', 'max': 252, 'min': 174}, {'avg': 220, 'day': '2023-10-17', 'max': 252, 'min': 174}, {'avg': 221, 'day': '2023-10-18', 'max': 252, 'min': 174}, {'avg': 215, 'day': '2023-10-19', 'max': 252, 'min': 174}, {'avg': 208, 'day': '2023-10-20', 'max': 252, 'min': 159}, {'avg': 180, 'day': '2023-10-21', 'max': 186, 'min': 159}]}}, 'debug': {'sync': '2023-10-16T01:26:22+09:00'}}}

In [9]:
pd.json_normalize(json_data)

,status,data.aqi,data.idx,data.attributions,data.city.geo,data.city.name,data.city.url,data.city.location,data.dominentpol,data.iaqi.co.v,...,data.iaqi.t.v,data.iaqi.w.v,data.time.s,data.time.tz,data.time.v,data.time.iso,data.forecast.daily.o3,data.forecast.daily.pm10,data.forecast.daily.pm25,data.debug.sync
0,ok,151,12450,"[{'url': 'http://cpcb.nic.in/', 'name': 'CPCB ...","[22.629801, 88.352017]","Belur Math, Howrah, India",https://aqicn.org/city/india/howrah/belur-math,,pm25,5.5,...,29,0.1525,2023-10-15 21:00:00,+05:30,1697403600,2023-10-15T21:00:00+05:30,"[{'avg': 13, 'day': '2023-10-13', 'max': 73, '...","[{'avg': 123, 'day': '2023-10-13', 'max': 123,...","[{'avg': 214, 'day': '2023-10-13', 'max': 238,...",2023-10-16T01:26:22+09:00

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 4E9F-5614

 Directory of c:\Users\Lenovo\OneDrive\Desktop\pg project

15-10-2023  22:05    <DIR>          .
12-10-2023  23:18    <DIR>          ..
12-10-2023  22:57                36 api key.txt
12-09-2023  20:36    <DIR>          chat chat bot files final
30-07-2023  23:49    <DIR>          credit card dispute
09-10-2023  14:45    <DIR>          Data Engineering
11-07-2023  21:49    <DIR>          flight tickets
15-10-2023  22:04           163,328 list_of_cities_and_towns_in_india-834j.xls
12-10-2023  22:26               234 pg broduct.ipynb
15-10-2023  21:47             6,711 pg product.ipynb
30-07-2023  23:51    <DIR>          rigvee send
30-07-2023  23:49    <DIR>          scan
30-07-2023  23:49    <DIR>          send
27-02-2023  13:56    <DIR>          Statistics
30-07-2023  23:51    <DIR>          trials sql
30-07-2023  23:51    <DIR>          website
               4 File(s)        170,309 bytes
              12 Dir(s)  569,293,053,952 bytes free